*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
#main{
   padding: 32px 32px;
}
.header{
    text-align: center;
}
.header h2:first-child{
    font-weight: 200;
}
.header h2:nth-child(2){
    opacity: 0.7;
}
.header .header--content{
    max-width: 500px;
    margin: auto;
    opacity: 0.4;
}
.container{
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    flex-wrap: wrap; 
}
.container .items--both,
.container .items{
    width: 350px;
}
.container .items--both .item__builder,
.container .items--both .item__karma{
    width: 100%;
    margin: 24px 0;
}
.container .tool--items{
    height: 245px;
    background-color: #fff;
    padding: 32px;
    position: relative;
}
.item__supervisor{
    margin-top: 24px;
}
.item__calculator{
    margin-bottom: 24px;
}
.tool--items .item--image{
    position: absolute;
    bottom: 32px;
    right: 32px;
}
.item__builder{
    border-top: 5px solid hsl(0, 78%, 62%);
    border-radius: 10px;
    box-shadow: 0px 8px 10px hsl(360, 6%, 80%);
}
.item__karma{
    border-top: 5px solid hsl(34, 97%, 64%);
    border-radius: 10px;
    box-shadow: 0px 8px 10px hsl(360, 6%, 80%);;
}
.item__calculator{
    border-top: 5px solid hsl(212, 86%, 64%);
    border-radius: 10px;
    box-shadow: 0px 8px 10px hsl(360, 6%, 80%);
}
.item__supervisor{
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 10px;
    box-shadow: 0px 8px 10px hsl(360, 6%, 80%);
}
.item--header{
    opacity: 0.7;
}
.item--content{
    opacity: 0.4;
}
@media (max-width: 375px){
    .container .tool--items{
        min-width: 320px;
        height: 224px;
    }
}